{
  "projectName": "solace_semp_client_monitor",
  "packageName": "solace_semp_client_monitor",
  "packageVersion": "__VERSION__",
  "packageUrl": "https://github.com/unixunion/solace_semp_client.git"
}
